<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fuhao.books.dao.BookDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.fuhao.books.domain.Book">
        <id column="id" property="id" />
        <result column="book_name" property="bookName" />
        <result column="book_pictures" property="bookPictures" />
        <result column="book_type" property="bookType" />
        <result column="book_num" property="bookNum" />
        <result column="price" property="price" />
        <result column="author" property="author" />
        <result column="publishing_house" property="publishingHouse" />
        <result column="publication_time" property="publicationTime" />
        <result column="synopsis" property="synopsis" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="logic_delete_flag" property="logicDeleteFlag" />
    </resultMap>
    <select id="getBookType" resultType="com.fuhao.books.domain.Book">
    	select DISTINCT book_type from book
    </select>
    <select id="listBytype" resultType="com.fuhao.books.domain.Book">
    	select * from book where book_type = #{book.bookType}
    </select>
    <select id="listAll" resultType="com.fuhao.books.form.BookForm">
SELECT
	* 
FROM
	`book` 
WHERE
	logic_delete_flag = 0 
	<if test="book.bookName != null and book.bookName != ''">
	and book_name like "%"#{book.bookName}"%"
	</if>
	<if test="book.author != null and book.author != ''">
	and author like "%"#{book.author}"%"
	</if>
	<if test="book.bookType != null and book.bookType != ''">
	and book_type = #{book.bookType}
	</if>
	<if test="book.publishingHouse != null and book.publishingHouse != ''">
	and publishing_house = #{book.publishingHouse}
	</if>
	<if test="book.page != 0">
	limit #{book.page},20
	</if>
    </select>
    <select id="getCount" resultType="com.fuhao.books.form.BookForm">
SELECT
	count(*) as count
FROM
	`book` 
WHERE
	logic_delete_flag = 0 
	<if test="book.bookName != null and book.bookName != ''">
	and book_name like "%"#{book.bookName}"%"
	</if>
	<if test="book.author != null and book.author != ''">
	and author like "%"#{book.author}"%"
	</if>
	<if test="book.bookType != null and book.bookType != ''">
	and book_type = #{book.bookType}
	</if>
    </select>
    <update id="lessBookNum">
    	UPDATE book 
SET book_num = #{book.bookNum}
WHERE
	id = #{book.id}
    </update>
</mapper>
