<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fuhao.books.dao.BookDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.fuhao.books.domain.Book">
        <id column="id" property="id" />
        <result column="book_name" property="bookName" />
        <result column="book_pictures" property="bookPictures" />
        <result column="book_type" property="bookType" />
        <result column="book_num" property="bookNum" />
        <result column="price" property="price" />
        <result column="author" property="author" />
        <result column="synopsis" property="synopsis" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="logic_delete_flag" property="logicDeleteFlag" />
    </resultMap>
    <select id="getBookType" resultType="com.fuhao.books.domain.Book">
    	select book_type from book
    </select>
    <select id="listBytype" resultType="com.fuhao.books.domain.Book">
    	select * from book where book_type = #{book.bookType}
    </select>
</mapper>
