<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fuhao.books.dao.CarDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.fuhao.books.domain.Car">
        <id column="id" property="id" />
        <result column="book_id" property="bookId" />
        <result column="user_id" property="userId" />
        <result column="book_num" property="bookNum" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="logic_delete_flag" property="logicDeleteFlag" />
        <result column="book_name" property="bookName" />
        <result column="book_pictures" property="bookPictures" />
        <result column="book_type" property="bookType" />
        <result column="book_num" property="bookNum" />
        <result column="price" property="price" />
        <result column="author" property="author" />
        <result column="publishing_house" property="publishingHouse" />
        <result column="publication_time" property="publicationTime" />
        <result column="synopsis" property="synopsis" />
    </resultMap>
    
    <select id="listByUserId" resultType="com.fuhao.books.form.CarForm">
   	SELECT	
	car.*,
	book.book_name,
	book.book_pictures,
	book.price
	FROM car
	JOIN book ON car.book_id = book.id
	where car.user_id = "1"
	and car.logic_delete_flag = 0
	and book.logic_delete_flag = 0
	GROUP BY book.id
    </select>
    <update id="removeByBookId">
    UPDATE  car set logic_delete_flag = 1
	WHERE
	user_id = #{car.userId} 
	and book_id = #{car.bookId}
    </update>
</mapper>
