<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fuhao.books.dao.CollectionDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.fuhao.books.domain.Collection">
        <id column="id" property="id" />
        <result column="book_id" property="bookId" />
        <result column="user_id" property="userId" />
        <result column="create_time" property="createTime" />
        <result column="logic_delete_flag" property="logicDeleteFlag" />
    </resultMap>
    <select id="listByUserId" resultType="com.fuhao.books.form.CollectionForm">
SELECT
	collection.id,
	collection.book_id,
	collection.create_time,
	book.book_name,
	book.price,
	book.book_num,
	book.book_pictures,
	book.logic_delete_flag
FROM
	collection
	JOIN book ON collection.book_id = book.id
	where collection.user_id = #{collection.userId}
	and collection.logic_delete_flag = 0
	GROUP BY collection.book_id,collection.id
    </select>
    <update id="removeByBookId">
    UPDATE collection set logic_delete_flag = 1
	WHERE
	user_id = #{col.userId} 
	and book_id = #{col.bookId}
    </update>
</mapper>
