<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>用户列表</title>
<link rel="stylesheet" href="/layui/css/layui.css">
</head>
<body>
<table class="layui-table" align="center" lay-skin="line" lay-data="{height:500, url:'/user/list/', page:true, id:'user', toolbar:'#tableToolbar'}" lay-filter="user">
  <thead>
    <tr>
      <th lay-data="{type:'checkbox'}"></th>
      <th lay-data="{field:'id', width:60, align:'center', sort: true}">id</th>
      <th lay-data="{field:'name', width:80, align:'center', sort: true}">姓名</th>
      <th lay-data="{field:'loginname', width:100, align:'center', sort: true}">登录名</th>
      <th lay-data="{field:'password', width:80, align:'center', sort: true}">密码</th>
      <th lay-data="{field:'sex', width:80, align:'center', sort: true}">性别</th>
      <th lay-data="{field:'identity', width:180, align:'center', sort: true}">身份证号</th>
      <th lay-data="{field:'phone', width:120, align:'center', sort: true}">电话号码</th>
	  <th lay-data="{field:'createTime', align:'center', sort: true}">创建时间</th>
      <th lay-data="{field:'updateTime', align:'center', sort: true}">修改时间</th>
      <th lay-data="{toolbar:'#toolbar', align:'center',}">操作</th>
    </tr>
  </thead>
</table>
<script type="text/javascript" src="/layui/layui.js"></script>
<script type="text/javascript" src="/js/user_list.js"></script>
</body>
<script type="text/html" id="toolbar">
  <div class="layui-btn-container">
    <button class="layui-btn layui-btn-sm" lay-event="update">编辑</button>
    <button class="layui-btn layui-btn-sm" lay-event="remove">删除</button>
  </div>
</script>
<script type="text/html" id="tableToolbar">
  <div class="layui-btn-container">
    <button class="layui-btn layui-btn-sm" lay-event="add">新增</button>
    <button class="layui-btn layui-btn-sm" lay-event="removeBatch">批量删除</button>
  </div>
</script>
</html>