<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>用户列表</title>
<link rel="stylesheet" href="/layui/css/layui.css">
</head>
<body>
<div class="form-search-con layui-bg-white layui-fluid">
	<div class="layui-row layui-col-md-offset2">
		<form class="layui-form" id="searchForm" autocomplete="off">
   		<br>
	   	  <div class="layui-form-item">
	   	  	<div class="layui-col-md5">
	   	  		<label class="layui-form-label">姓名：</label>
		    	<div class="layui-input-inline">
		      		<input type="text" placeholder="姓名" name="name" autocomplete="off" class="layui-input" width="60px">
		    	</div>
	   	  	</div>
		    <div class="layui-col-md5">
		    	<label class="layui-form-label">登录名：</label>
		    	<div class="layui-input-inline">
		      		<input type="text" placeholder="登录名" name="loginname" autocomplete="off" class="layui-input" width="60px">
		    	</div>
		    </div>
		  </div>
		  <div class="layui-form-item">
		  	<div class="layui-col-md5">
		  		<label class="layui-form-label">身份证号：</label>
		    	<div class="layui-input-inline">
		      		<input type="text" placeholder="请输入完整的身份证号"  name="identity" class="layui-input" width="60px">
		    	</div>
		  	</div>
		  	<div class="layui-col-md5">
		  		<label class="layui-form-label">用户身份：</label>
		    	<div class="layui-input-inline">
		      		<select name="status" style="width:200px" class="layui-input">
		      			<option value="">请选择</option>
	  					<option value="管理员">管理员</option>
	  					<option value="用户">用户</option>
			  		</select>
		    	</div>
		  	</div>
		  </div>
		  <div class="form-btn-nav layui-col-md-offset4">
				<button type="button" class="layui-btn" lay-submit lay-filter="SearchForm">查询</button>
				<button type="reset" class="layui-btn" >重置</button>
			</div>
		</form>
	</div>  		
</div>
<table class="layui-table" align="center" limit="20" page="true" lay-skin="line" lay-data="{height:500, url:'/user/listAll/', id:'user', toolbar:'#tableToolbar'}" lay-filter="user">
  <thead>
    <tr>
      <th lay-data="{type:'checkbox'}"></th>
      <!-- <th lay-data="{field:'id', width:60, align:'center', sort: true}">id</th> -->
      <th lay-data="{field:'name', width:80, align:'center', sort: true}">姓名</th>
      <th lay-data="{field:'loginname', width:100, align:'center', sort: true}">登录名</th>
      <th lay-data="{field:'password', width:80, align:'center', sort: true}">密码</th>
      <th lay-data="{field:'sex', width:80, align:'center', sort: true}">性别</th>
      <th lay-data="{field:'identity', width:180, align:'center', sort: true}">身份证号</th>
      <th lay-data="{field:'phone', width:120, align:'center', sort: true}">电话号码</th>
	  <th lay-data="{field:'createTime', align:'center', sort: true ,templet:function (d){return showTime(d.createTime);}}">创建时间</th>
      <th lay-data="{field:'updateTime', align:'center', sort: true ,templet:function (d){return showTime(d.updateTime);}}">修改时间</th>
      <th lay-data="{toolbar:'#toolbar', align:'center', fixed:'right'}">操作</th>
    </tr>
  </thead>
</table>
<script type="text/javascript" src="/layui/layui.js"></script>
<script type="text/javascript" src="/js/user_list.js"></script>
</body>
<script type="text/html" id="toolbar">
  <div class="layui-btn-container">
    <button class="layui-btn layui-btn-sm" lay-event="update">编辑</button>
    <button class="layui-btn layui-btn-sm" lay-event="remove">删除</button>
  </div>
</script>
<script type="text/html" id="tableToolbar">
  <div class="layui-btn-container">
    <button class="layui-btn layui-btn-sm" lay-event="add">新增</button>
    <button class="layui-btn layui-btn-sm" lay-event="removeBatch">批量删除</button>
  </div>
</script>
</html>