<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>管理界面</title>
  <link rel="stylesheet" href="/layui/css/layui.css">
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
<input id="userId" type="hidden" th:value="${id}">
  <div class="layui-header">
    <div class="layui-logo">西柚图书管理系统</div>
    <ul class="layui-nav layui-layout-right" lay-filter="mine" id="mine">
      <!-- <li class="layui-nav-item">
        <a href="javascript:;">
          <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
          张三
        </a>
        <dl class="layui-nav-child">
          <dd><a href="">个人资料</a></dd>
          <dd><a href="">修改密码</a></dd>
        </dl>
      </li>
      <li class="layui-nav-item"><a href="">退出</a></li> -->
    </ul>
  </div>
  
  <div class="layui-side layui-bg-black">
    <div class="layui-side-scroll">
      <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
      <ul class="layui-nav layui-nav-tree"  lay-filter="test">
        <li class="layui-nav-item">
          <a class="" href="javascript:;">图书管理</a>
          <dl class="layui-nav-child">
            <dd><a href="/book/books/book_list" target="main">图书列表</a></dd>
            <dd><a href="/book/books/book_list_null" target="main">缺货图书</a></dd>
          </dl>
        </li>
        <li class="layui-nav-item">
          <a href="javascript:;">用户管理</a>
          <dl class="layui-nav-child">
            <dd><a href="/user/users/user_list" target="main">用户列表</a></dd>
<!--             <dd><a href="/user/users/user_list" target="main">管理员列表</a></dd> -->
          </dl>
        </li>
      </ul>
    </div>
  </div>
  
  <div class="layui-body" style="bottom: 0px;">
    <!-- 内容主体区域 -->
    <iframe src="/user/main" name="main" id="main" width="100%" height="98%"></iframe>
  </div>
</div>
<script type="text/javascript" src="/layui/layui.all.js"></script>
<script type="text/javascript" src="/js/admin.js"></script>
</body>
</html>