<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>主页</title>
  <link rel="stylesheet" href="/layui/css/layui.css">
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
  <div class="layui-header">
    <div class="layui-logo layui-bg-blue">西柚图书售卖系统</div>
    <ul class="layui-nav layui-layout-right">
      <li class="layui-nav-item"><a class="layui-icon layui-icon-cart" href="/car/cars/car_list" target="main">购物车</a></li>
      <li class="layui-nav-item"><a class="layui-icon layui-icon-star" href="/collection/collections/collection_list" target="main">收藏</a></li>
      <li class="layui-nav-item">
        <a href="javascript:;">
          <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
          张三
        </a>
        <dl class="layui-nav-child">
          <dd><a href="/user/users/user_information" target="main">个人资料</a></dd>
          <dd><a href="">修改密码</a></dd>
        </dl>
      </li>
      <li class="layui-nav-item"><a href="">退出</a></li>
    </ul>
  </div>  
  <div class="layui-side layui-bg-black">
    <div class="layui-side-scroll">
      <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
      <ul class="layui-nav layui-nav-tree">
      	<li class="layui-nav-item">
          <a class="" href="javascript:;">图书分类</a>
          <dl class="layui-nav-child" lay-filter="bookType" id="type">
            <dd><a href="/book/books/book_list" target="main">图书列表</a></dd>
          </dl>
        </li>
        <li class="layui-nav-item">
          <a class="" href="javascript:;">图书管理</a>
          <dl class="layui-nav-child">
            <dd><a href="/book/books/book_list" target="main">图书列表</a></dd>
          </dl>
        </li>
        <li class="layui-nav-item">
          <a href="javascript:;">用户管理</a>
          <dl class="layui-nav-child">
            <dd><a href="/user/users/user_list" target="main">用户列表</a></dd>
            <dd><a href="javascript:;">管理员列表</a></dd>
          </dl>
        </li>
      </ul>
    </div>
  </div>
  <div class="layui-body">
    <!-- 内容主体区域 -->
    <iframe src="/user/main" name="main" id="main" width="100%" height="500px" frameborder="0"></iframe>
  </div>
</div>
<script type="text/javascript" src="/layui/layui.all.js"></script>
<script type="text/javascript" src="/js/index.js"></script>
</body>
</html>