<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>主页</title>
  <link rel="stylesheet" href="/layui/css/layui.css">
</head>
<style>
	.layui-layout-admin .layui-body{
		bottom : 5px;
	}
	.type-list a{
		width: 20%;
		font-size: 12px;
	}
</style>
<body class="layui-layout-body" style="height:600px">
  <input id="userId" type="hidden" value="1">
  <input id="id" type="hidden" th:value="${id}">
  <div class="layui-header">
	<div class="layui-nav" style="width: 100%;height: 60px">
		<ul class="layui-nav layui-layout-right" lay-filter="mine" id="mine">
<!--		  	<li class="layui-nav-item"><a class="layui-icon layui-icon-cart" href="/car/cars/car_list" target="main">购物车</a></li>
		  	<li class="layui-nav-item"><a class="layui-icon layui-icon-star" href="/collection/collections/collection_list" target="main">收藏</a></li>
		  	<li class="layui-nav-item">
 				<a href="javascript:;">
				<img src="http://t.cn/RCzsdCq" class="layui-nav-img">
				张三
				</a>
				<dl class="layui-nav-child">
				          <dd><a href="">基本资料</a></dd>
				          <dd><a href="">安全设置</a></dd>
				        </dl>
				<dl class="layui-nav-child">
					<dd><a href="/user/users/user_information" target="main">个人资料</a></dd>
					<dd><a href="">修改密码</a></dd>
				</dl>
		  	</li> -->
		  	<li class="layui-nav-item"><a href="/user/login_view">登录</a></li>
		</ul>
		
	</div> 
    <div style="margin-left: 80px;" class="layui-row">
    	<div class="layui-col-md4">
    		<img style="width: 250px;" src="/image/logo.png" />
    	</div>
		<div class="layui-col-md6" id="search" style="border:1px solid #0000FF;width: 560px;margin-top: 40px;">
			<input type="text" style=" width: 400px;" class="layui-input"/>
			<button class="layui-btn layui-btn-normal" style="width: 80px;float: right;margin-top: -38px;">搜索</button>
			<select class="layui-select" style=" width: 80px;float: right;margin-top: -38px;margin-right: 80px;">
				<option value="bookName">书名</option>
				<option value="author">作者</option>
				<option value="publishingHouse">出版社</option>
			</select>
		</div>
	</div>
	<div class="type" style="margin-left: 100px;border:1px solid #0000FF;width: 200px;margin-top: 0px;">
		<ul class="layui-nav layui-bg-cyan" style="width: 200px; height:55px;">
			<li class="layui-nav-item" style="width: 160px;height: 55px;"><span class="layui-icon layui-icon-down" style="font-size: 22px; width: 50px;">&nbsp;图书分类</span>
				<dl class="layui-nav-child">
				  <dd class="type-list" lay-filter="bookType" id="type">
					  <p>
						<a href="">小说</a>
						<a href="">青春文学</a>
						<a href="">小说</a>
						<a href="">青春文学</a>
						<a href="">小说</a>
						<a href="">青春文学</a>
						<a href="">小说</a>
						<a href="">青春文学</a>
						<a href="">小说</a>
						<a href="">青春文学</a>
						<a href="">小说</a>
						<a href="">青春文学</a>
						<a href="">小说</a>
						<a href="">青春文学</a>
						<a href="">小说</a>
						<a href="">青春文学</a>
						<a href="">小说</a>
						<a href="">青春文学</a>
						<a href="">小说</a>
						<a href="">青春文学</a>  
					  </p>
				  </dd>
				</dl>
			</li>
		</ul>
	</div>
	<hr />
  </div>
  <div class="layui-main" id="body" style="border:1px solid #0000FF;width: 100%;margin-top: 150px;height: 390px;">
    <!-- 内容主体区域 -->
<!--     <input id="id" name="id" class="layui-input" value="id"> -->
    <iframe src="/user/main" name="main" id="main" width="100%" height="100%" frameborder="0"></iframe>
  </div>
<script type="text/javascript" src="/layui/layui.all.js"></script>
<script type="text/javascript" src="/js/index.js"></script>
</body>
</html>