<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="/layui/css/layui.css">
</head>
<style>
	.layui-table-cell{
		height:auto!important;
		white-space: normal;
	}		
</style>
<body>
<input type="hidden" name="userId" th:value="${userId}" id="userId">
<div class="layui-card layui-admin-header">
    <div class="layui-breadcrumb" lay-filter="breadcrumb" id="breadcrumb">
    	<a>主页</a>
        <a><cite>购物车</cite></a>
    </div>
</div>
<table class="layui-table" lay-size="lg" align="center" lay-skin="line" lay-data="{ id:'car', toolbar:'#tableToolbar', defaultToolbar: [], }" lay-filter="car">
  <thead>
    <tr style="height: 200px;">
      <th lay-data="{type:'checkbox', event:'checks',}"></th>
      <!-- <th lay-data="{field:'id', width:60, align:'center'}">id</th> -->
      <th lay-data="{field:'bookPictures', width:150, align:'center', templet:'#bookPictures',}">图书图片</th>
      <th lay-data="{field:'bookName', width:300, align:'center'}">图书名</th>
      <th lay-data="{field:'price', width:80, align:'center', templet:'#price', }">单价</th>
      <th lay-data="{field:'number', width:200, align:'center', templet:'#number', }">数量</th>
      <th lay-data="{field:'sum', width:80, align:'center', templet:'#sum',}">金额</th>
      <th lay-data="{toolbar:'#toolbar', align:'center', fixed:'right'}">操作</th>
    </tr>
  </thead>
</table>
<script type="text/javascript" src="/layui/layui.js"></script>
<script type="text/javascript" src="/js/car_list.js"></script>
</body>
<script type="text/html" id="bookPictures">
	<img src="{{d.bookPictures}}" height="100px"/>
</script>
<script type="text/html" id="price">
	<span name="price" value="{{d.price}}" readonly="true">￥{{d.price}}</span>
</script>
<script type="text/html" id="number">
	<input id="{{d.id}}" name="{{d.price}}" type="number" class="number layui-input" value="1" style="width: 60px; height: 30px;" min="1" onkeyup="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}" onafterpaste="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}"/>
</script>
<script type="text/html" id="sum">
	<span name="sum" style="color: red;" id="sum{{d.id}}" value="{{d.price}}" readonly="true">￥{{d.price}}</span>
</script>
<script type="text/html" id="toolbar">
  <div class="layui-btn-container">
    <a class="layui-btn layui-btn-xs" lay-event="toCollection">移入收藏</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="remove">删除</a>
  </div>
</script>
<script type="text/html" id="tableToolbar">
<div class="layui-row">
	<div class="layui-col-md2">
		<a class="layui-btn layui-btn-danger layui-btn-sm" lay-event="removeBatch">删除选中</a>
	</div>
	<div style="float: right;">
		<span >已选择</span>
		<span id=sumNum style="color: red; font-size: 20px;">0</span>
		<span >件商品&nbsp;&nbsp;&nbsp;&nbsp;</span>
		<span >合计:</span>
		<span name="sum_all" style="color: red; font-size: 20px;" id="sum_all" readonly="true">￥0</span>&nbsp;&nbsp;
		<a class="layui-btn layui-btn-lg layui-bg-red" lay-event="buy">立即结算</a>
	</div>
</div> 
</script>
</html>